@import "../Variables";

// @keyframes slideIn {
// 	0% {
// 		transform: translateY(-100%);
// 	}
// 	100% {
// 		transform: translateY(0);
// 	}
// }

nav {
	position: fixed;
	left: $content-margin;
	top: 10vh;
	width: $content-width;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	// opacity: 0;
	// animation: slideIn 1s ease forwards;

	img {
		width: 40px;
	}

	.menu {
		display: flex;
		flex-direction: column;

		span {
			display: flex;
			justify-content: end;
			a {
				margin-bottom: clamp(0.2rem, 0.5vw, 0.5rem);
				color: $primary-color-50;
				font-size: clamp(0.5rem, 1vw, 1rem);
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
				transition: color 0.2s ease-in;
				&:hover {
					color: $primary-color;
					transition: color 0.2s ease-in;
				}
			}
		}
	}

	@include media(">=phone", "<tablet") {
		left: $content-margin-mobile;
		width: $content-width-mobile;
	}
}

header {
	position: relative;
	left: $content-margin;
	width: $content-width;
	margin: calc(10vh + 20vw) 0 10vw 0;
	@include media(">=phone", "<tablet") {
		left: $content-margin-mobile;
		width: $content-width-mobile;
	}

	.header-text__wrapper {
		display: flex;
		flex-direction: column;

		.header__words {
			// overflow: hidden;

			span {
				// opacity: 0;
				display: inline-block;
				overflow: hidden;
			}
		}
	}
}

h1 {
	width: 80%;
	font-weight: bold;
	font-size: clamp(1rem, 4vw, 4rem);
	// text-transform: uppercase;
	// line-height: clamp(0.5rem, 3.5vw, 3.5rem);
	// line-height: 3.5vw;
}

h2 {
	font-weight: lighter;
	font-size: clamp(0.5rem, 1vw, 1rem);
	text-transform: uppercase;
	width: 80%;
	margin-bottom: clamp(0.5rem, 1vw, 1rem);
}
