@import "../Variables";

nav {
	position: fixed;
	left: calc($content-margin - 7.5vw);
	top: 10vh;
	top: 10dvh;
	width: calc($content-width + 15vw);
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	pointer-events: none;
	// opacity: 0;
	// animation: slideIn 1s ease forwards;

	img {
		width: 40px;
		pointer-events: auto;
		// filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
	}

	.menu {
		display: flex;
		flex-direction: column;

		span {
			display: flex;
			justify-content: end;
			a {
				margin-bottom: clamp(0.2rem, 0.5vw, 0.5rem);
				color: $primary-color-50;
				font-size: clamp(0.5rem, 1vw, 1rem);
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
				transition: color 0.2s ease-in;
				pointer-events: auto;
				&:hover {
					color: $primary-color;
					transition: color 0.2s ease-in;
				}
			}
		}
	}

	@include media(">=phone", "<tablet") {
		left: $content-margin-mobile;
		width: $content-width-mobile;
	}
}
