@import "../UI/variables";

.work__header {
	display: flex;
	flex-direction: column;
	width: $content-width;
	margin-left: $content-margin;
	margin-top: 40vh;
	margin-top: 40dvh;

	h1 {
		width: 70%;
	}

	h1 {
		color: $secondary-color;
		font-size: 5rem;
		font-weight: 800;
		margin: 0 0 1.5rem -3rem;

		@include media("<tablet") {
			font-size: 2rem;
			order: 2;
			margin: 0 0 1rem 0;
		}
	}

	p {
		width: 100%;
		font-size: clamp(1rem, 4vw, 4rem);
	}

	.project__info {
		display: flex;
		gap: 5rem;
		margin-top: 5rem;
		line-height: 1.5rem;

		div {
			display: flex;
			flex-direction: column;

			&:last-child {
				margin-left: auto;
				place-items: end;
			}
		}
	}
}

.work__main {
	// width: $content-width;
	// margin-left: $content-margin;
	margin-top: 5rem;

	video {
		width: 100%;
	}

	img {
		width: 100%;
	}
}

footer {
	width: $content-width;
	margin-left: $content-margin;
}

h1 {
	font-weight: 400;
}
