@import "./Breakpoints/breakpoints.scss";
@import "../assets/fonts/fonts.scss";

$primary-color: #ccb2b2;
$primary-color-50: #ccb2b27e;

$secondary-color: #c75555;
$secondary-color-50: #3c1a1a;

$tertiary-color: #74a36d;

$content-width: 70vw;
$content-margin: 15vw;

$content-width-mobile: 90vw;
$content-margin-mobile: 5vw;

* {
	// box-sizing: border-box;
}

.highlighted {
	color: $secondary-color;
	font-weight: 600;
}

span {
	font-family: "Aeonik";
}

p {
	// width: 50%;
	// margin-top: 1rem;
	font-family: "Aeonik";
	font-weight: 400;
	font-size: 1rem;

	@include media("<tablet") {
		width: 60%;
	}
}

h1 {
	font-family: "Aeonik";
	font-weight: bold;
	font-size: clamp(1rem, 4vw, 4rem);
}

h2 {
	font-family: "Aeonik";
	font-weight: 400;
	font-size: clamp(0.5rem, 5vw, 3rem);
}

h3 {
	color: $secondary-color;
	font-size: 5rem;
	font-weight: 800;

	@include media("<tablet") {
		font-size: 2rem;
	}
}

h4 {
	font-family: "IBM Mono";
	font-size: 2rem;
	font-weight: normal;
	text-transform: uppercase;
	color: $primary-color-50;

	@include media("<tablet") {
		font-size: 0.7rem;
	}
}
