@import "./Breakpoints/breakpoints.scss";
@import "./fonts.scss";

$primary-color: #ccb2b2;
$primary-color-50: #ccb2b27e;

$secondary-color: #c75555;
$secondary-color-50: #3c1a1a;

$content-width: 70vw;
$content-margin: 15vw;

$content-width-mobile: 90vw;
$content-margin-mobile: 5vw;

.highlighted {
	color: $secondary-color;
}

p {
	// width: 50%;
	// margin-top: 1rem;
	// font-family: "Playfair Display";
	font-size: 1rem;
	width: 14rem;
	@include media("<tablet") {
		width: 60%;
	}
}

h1 {
	font-weight: bold;
	font-size: clamp(1rem, 4vw, 4rem);
}

h2 {
	font-weight: bold;
	font-size: clamp(0.5rem, 1vw, 1rem);
	text-transform: uppercase;
	margin-bottom: clamp(0.5rem, 1vw, 1rem);
}

h3 {
	color: $secondary-color;
	font-size: 5rem;
	font-weight: 800;
	margin-left: -3rem;

	@include media("<tablet") {
		font-size: 2rem;
		order: 2;
		margin: 0 0 1rem 0;
	}
}

h4 {
	font-family: "Playfair Display";
	font-size: 1rem;
	font-weight: normal;
	margin-bottom: 0.5rem;
	@include media("<tablet") {
		font-size: 0.7rem;
		margin-bottom: 0.5rem;
		order: 1;
	}
}
