@import "../_variables";

.work__container {
	position: relative;
	// width: $content-width;
	// width: 100%;
	width: $content-width - 15vw;
	margin: 0 auto;
	margin-bottom: 15rem;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(#ffffff00, #11111175);
		border-radius: 1rem;
		width: 100%;
		height: 100%;
		content: "";
	}

	&:hover > a img {
		// scale: (1.1);
		// opacity: 0;
		filter: grayscale(0);
		transition: filter 0.4s ease-in;
	}

	@include media("<tablet") {
		width: 100%;
		margin-bottom: 5rem;
	}

	a {
		text-decoration: transparent;
		width: 100%;
		height: 100%;

		&:hover span::before {
			transform: scale(1.5);
			transition: transform 0.3s ease-in;
		}
		&:hover span::after {
			transform: translateX(5px);
			transition: transform 0.3s ease-in;
		}

		img {
			position: relative;
			border-radius: 1rem;
			filter: grayscale(1);
			// opacity: 0.5;
			width: 100%;
			z-index: -1;

			transition: filter 0.4s ease-in;

			@include media("<desktop") {
			}

			@include media("<tablet") {
			}
		}
	}

	.card {
		position: absolute;
		display: flex;
		align-items: center;
		width: 100%;
		bottom: 3.5rem;
		border-radius: 50%;
		z-index: 1;

		font-family: "Helvetica";
		font-size: 1rem;
		font-weight: bold;
		color: $primary-color;

		@include media("<tablet") {
			// width: 100%;
		}

		.card__bottom {
			position: relative;
			width: 90%;
			left: 5%;

			span {
				color: $tertiary-color;
				font-size: 2rem;
			}

			li {
				position: relative;
				list-style: none;
				display: inline;
				margin-inline: 1rem;
				font-family: "IBM Mono";
				font-weight: 400;
				font-size: 1rem;
				text-transform: uppercase;

				&:first-child {
					margin: 0;
				}

				&::before {
					position: absolute;
					top: 6px;
					// content: "";
					margin-inline: 2rem;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: $primary-color;
				}
			}
		}

		.card__explore {
			position: relative;
			right: 0;
			top: 0;
			display: grid;
			justify-content: center;
			align-items: center;
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			background: $tertiary-color;

			span {
				position: relative;
				display: block;
				width: 15px;
				height: 1px;
				background: $primary-color;
				&::after {
					position: relative;
					top: -4px;
					left: 6px;
					display: block;
					width: 8px;
					height: 8px;
					border-top: 1px solid $primary-color;
					border-right: 1px solid $primary-color;
					transform: rotate(45deg);
					content: "";
				}
			}
		}
	}
}
