footer {
	position: fixed;
	left: 7.5vw;
	bottom: 10vh;
	bottom: 10dvh;
	display: flex;
	flex-wrap: wrap;
	width: 85vw;
	justify-content: space-between;

	.social {
		display: flex;
		flex-direction: column;

		img {
			width: 1.7rem;
			margin-bottom: 1rem;
		}
	}

	.music__toggle {
		// transform: rotate(-90deg);
		display: flex;
		align-items: end;
	}

	.sound {
		width: 1.7rem;
	}
}
