@import "../_variables";

main {
	position: relative;
	left: $content-margin;
	width: $content-width;

	.work__section {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin-top: 10rem;
		// gap: 10rem;

		// :nth-child(odd) {
		// 	gap: 15rem;
		// }

		// @include media("<desktop") {
		// 	grid-template-columns: repeat(1, 1fr);
		// 	gap: 5rem;
		// }
	}

	@include media("<tablet") {
		left: $content-margin-mobile;
		width: $content-width-mobile;
	}
}
